.panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  background-color: var(--white);
}

.actions {
  margin-bottom: 28px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block:not(:last-child) {
  margin-bottom: 32px;
}
