.panel {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 16px;
  border-radius: 12px;
  background: var(--color-white, #fff);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  display: flex;
}

.resetBtn {
  margin-right: 5px;
}

@media only screen and (min-width: 1440px) {
  .panel {
    padding: 20px;
  }
}
