.panel {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;

  padding: 20px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  background-color: var(--white);

  overflow: hidden;
}

.topControls {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 20px;
}

.actions {
  margin-bottom: 32px;
}

.resetIcon {
  width: 18px;
  height: 18px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;

  min-width: 0;
}

.block:not(:last-child) {
  margin-bottom: 32px;
}
