.section {
  padding-bottom: 60px;
}

.head {
  display: grid;
  gap: 16px;
}

.desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--main);
}
