.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;

  width: 173px;
  height: 56px;
  padding: 16px 48px;

  border-radius: 200px;

  background-color: var(--button);
  color: var(--white);

  transition: background-color 200ms ease, opacity 200ms ease;
}

.button:hover,
.button:focus-visible {
  background-color: var(--button-hover);
}

.outline {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.outline:hover,
.outline:focus-visible {
  border-color: var(--gray-light);
  color: var(--gray-light);
  background-color: unset;
}

.outlineRed {
  background-color: transparent;
  color: var(--font-family);
  border: 1px solid var(--gray-light);

  padding: 16px 10px;
  transition: border-color 100ms ease, opacity 100ms ease;
}

.outlineRed:hover,
.outlineRed:focus-visible {
  border-color: var(--gray);
  color: var(--gray);
  background-color: unset;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.icon :global(svg) {
  width: 20px;
  height: 20px;
}

.label {
  line-height: 1;
}

.secondary {
  background: var(--inputs);
  color: var(--main);
}

.reset {
  background-color: transparent;
  color: var(--button);
  border: 1px solid var(--button);

  width: 100%;
  height: 40px;

  padding: 16px 10px;
}

.reset:hover,
.reset:focus-visible {
  border-color: var(--button-hover);
  color: var(--button-hover);
  background-color: unset;
}

.filter {
  background-color: var(--text);
  color: white;

  width: 100%;
  height: 40px;

  padding: 16px 10px;
}

.filter:hover,
.filter:focus-visible {
  background-color: #6c717b;
}

@media only screen and (min-width: 768px) {
  .filter {
    width: 180px;
  }
}
