.card {
  border-radius: 10px;
  background: var(--inputs);

  padding: 34px 24px;
}

.title {
  margin-top: 49px;
  margin-bottom: 24px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: var(--main);
}

.divider {
  height: 1px;
  background: var(--gray-light);
  margin-bottom: 24px;
}

.details {
  margin: 0;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;

  padding: 5px 0;
}

.dt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--main);
}

.dd {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}

.formLink {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: var(--button-hover);
}

.formLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 1px;

  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;

  pointer-events: none;
}

.formLink:hover::after,
.formLink:focus-visible::after {
  transform: scaleX(1);
}

@media only screen and (min-width: 1440px) {
  .card {
    padding: 52px 44px;
  }
}
