.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  align-items: start;
}

.sidebar {
  display: none;
}

.content {
  min-width: 0;
}

@media only screen and (min-width: 1440px) {
  .layout {
    grid-template-columns: 392px minmax(0, 1fr);
    align-items: start;
    gap: 32px;
  }

  .sidebar {
    position: sticky;
    top: 24px;

    display: block;
    min-width: 0;
    align-self: start;
  }
}
