.page {
  min-height: calc(100vh - 72px);
  position: relative;

  background: linear-gradient(
      180deg,
      rgba(16, 24, 40, 0.75) 0%,
      rgba(16, 24, 40, 0.55) 40%,
      rgba(16, 24, 40, 0.85) 100%
    ),
    linear-gradient(90deg, rgba(16, 24, 40, 0.9) 0%, rgba(16, 24, 40, 0.35) 60%);

  background-image: linear-gradient(
      180deg,
      rgba(16, 24, 40, 0.75) 0%,
      rgba(16, 24, 40, 0.55) 40%,
      rgba(16, 24, 40, 0.85) 100%
    ),
    linear-gradient(90deg, rgba(16, 24, 40, 0.9) 0%, rgba(16, 24, 40, 0.35) 60%),
    url('/404-page.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  display: flex;
  align-items: center;
}

.heroContent {
  position: relative;
  z-index: 1;
}

.code {
  display: block;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 100px;
  line-height: 1;

  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: var(--white);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05;
  margin-bottom: 20px;
}

.text {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 70px;
}

@media only screen and (min-width: 768px) {
  .heroContent {
    max-width: 650px;
  }

  .code {
    font-size: 160px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 56px;
  }

  .text {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroContent {
    max-width: 800px;
  }

  .code {
    font-size: 200px;
  }

  .title {
    font-size: 64px;
    margin-bottom: 16px;
  }

  .text {
    margin-bottom: 40px;
  }
}
