.nav {
  padding-top: 16px;
  padding-bottom: 25px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 14px;
  line-height: 1.4;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.sep {
  color: var(--gray-light);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: var(--main);
}

.linkText {
  position: relative;
  white-space: nowrap;
  font-weight: var(--fw-medium);
}

.linkText::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 1px;

  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.link:hover .linkText::after {
  transform: scaleX(1);
}

.homeIcon {
  color: var(--main);
}

.linkText {
  white-space: nowrap;
  font-weight: var(--fw-regular);
}

.current {
  color: var(--gray);
  white-space: nowrap;
  font-weight: var(--fw-regular);
}
