.section {
  margin-top: 48px;
  padding: 28px;
  border: 1px solid var(--color-border, #dadde1);
  border-radius: 20px;
  background-color: var(--color-white, #ffffff);
}

.title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-main, #101828);
}

.text {
  max-width: 860px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-muted, #475467);
}

.highlight {
  font-weight: 700;
  color: var(--color-main, #101828);
}

@media only screen and (min-width: 768px) {
  .section {
    margin-top: 56px;
    padding: 32px;
  }

  .title {
    font-size: 28px;
  }
}
