.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  margin: 0;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--main);
}

.favDesktop {
  flex-shrink: 0;
}
