/* Styles for Mobile devices */
.container {
  min-width: 335px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 704px;
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    min-width: 1312px;
    padding: 0 64px;
  }
}
