.menuNav {
  display: block;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 20px;
  color: var(--main);
  padding: 8px 0;
  transition: color 200ms ease;
}

.link:hover,
.link:focus-visible {
  color: var(--button-hover);
}

.active {
  color: var(--button);
}

@media only screen and (min-width: 768px) {
  .menuList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .link {
    font-size: 16px;
  }
}
